.next-container {
    float: right; 
    margin: 4% 8% 0 0;   
}

.next-container button {
    font-size: 6vw;
}

.container {
    text-align: center;
}

.container Button {
    font-size: 4vw;
    margin: 2%;
}

.container div:first-of-type {
    margin-top: 5%;
}

.page-header {
    text-align: center;
}
