@font-face {
    font-family: blocky;
    src: url(../fonts/blocky.ttf);
}

body {
    margin: 0;
}

.app {
    background-color: #000;
    color: #fff;
    font-family: blocky;
    font-size: 30px;
    padding: 50px;
    text-align: center;
}

.app .logo {
    height: 200px;
}

.app h1 {
    text-shadow: 0 0 28px #61DAFB;
    letter-spacing: 5px;
}

.rotate {
    animation: spin 0.5s linear infinite;
}

.rotateReverse {
    animation: spinReverse 0.5s linear infinite;
}

@keyframes spinReverse {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
