.button {
    height: 52px;
    line-height: 26px;
    margin: 4% auto;
    background-color: grey;
}

.right {
    margin-top: 2%;
}

@media only screen and (min-width: 992px) {
    .collection {
        display: flex;
        flex-direction: row;   
        flex-wrap: wrap;
        justify-content: center;   
    }

    .btn-desk > div {
        text-align: center;
        margin-top: 4vh;
    }

    .button {
        height: 20vh;
        width: 20vh;
        margin: 3vh 1vw;
    }

    .title-container {
        margin-bottom: 2vh;
    }
} 
